* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: rgb(245, 78, 106);
  width: 100%;
  padding: 30px 20px;
  display: flex;
  justify-content: flex-end;
}

.header-left {
  margin-right: auto;
}
.h-leftbox {
  width: 140px;
  height: 70px;
  background-color: pink;
}
.header-right {
  justify-content: flex-end;
  display: flex;
}

.h-rightbox {
  margin: 0 10px;
  width: 140px;
  height: 70px;
  background-color: pink;
}

main {
  display: flex;
  justify-content: center;
}

.main-left {
  width: 300px;
  background-color: rgb(147, 231, 147);
}

.main-right {
  max-width: 700px;
  background-color: green;
  padding: 20px;
  flex-grow: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.m-rightbox {
  background-color: yellow;
  width: 200px;
  height: 130px;
  margin: 10px;
}

footer {
  width: 100%;
  background-color: blue;
}

.up {
  display: flex;
  justify-content: center;
}
.down {
  display: flex;
  justify-content: center;
}
.upbox,
.downbox {
  margin: 10px;
  height: 40px;
  flex-basis: 45%;
  max-width: 600px;
  background-color: cornflowerblue;
}
.foot {
  padding: 20px;
}
